<% provide(:title, "Edit Event") %>

<h1>Edit Event</h1>
<%= link_to "Delete Event", event_path, method: "delete", date: { confirm: "Are you sure?"} %>
<p> 
    <%= form_for(@event) do |f| %>

      <%= render 'shared/error_messages', object: f.object %>

      <%= f.submit "Update Event" %></br>

      <%= f.label :name %></br>
      <%= f.text_field :name %></br>

      <%= f.label :description %></br>
      <%= f.text_field :description %></br>

      <%= f.label :location %></br>
      <%= f.text_field :location %></br>
      
      <%= f.label :date %></br>
      <%= f.text_field :date, class: "datepicker" %></br>

      <h2>Invite:</h2>
      <%= f.fields_for(:invitations) do |invite| %>
        <% @users.each do |user| %>
          <% unless current_user == user || @event.guests.include?(user) %>
          <%= label_tag "user_id[]", "#{user.name}" %>
          <%= check_box_tag "user_id[]", user.id %></br>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</p>