<% provide(:title, "New Event") %>

<h1>Create a New Event</h1>
<p> 
    <%= form_for(@event) do |f| %>
      <%= submit_tag "Create Event" %></br>

      <%= f.label :name %>
      <%= f.text_field :name %></br>

      <%= f.label :description %>
      <%= f.text_field :description %></br>

      <%= f.label :location %>
      <%= f.text_field :location %></br>
      
      <%= f.label :date %>
      <%= f.date_field :date %></br>

      <%= f.fields_for(:invitations) do |invite| %>
        <% @users.each do |user| %>
          <% unless current_user == user %>
          <%= label_tag "user_id[]", "#{user.name}" %>
          <%= check_box_tag "user_id[]", user.id %></br>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</p>
