<% provide(:title, "New Event") %>

<h1>Create a New Event</h1>
<p>
  <%= form_for(@event) do |f| %>
    <%= f.submit "Create Event" %>

    <%= f.label :name %>
    <%= f.text_field :name %></br>

    <%= f.label :description %>
    <%= f.text_area :description %></br>

    <%= f.label :location %>
    <%= f.text_field :location %></br>

    <%= f.label :date %>
    <%= f.date_field :date %></br>
    <h3>Invite</h3>
    <% @users.each do |user| %>
      <% unless user == current_user %>
        <%= f.label :guests, user.name %>
        <%= f.check_box :guests %>
      <% end %>
    <% end %>
  <% end %>
</p>
