<% provide(:title, "Event") %>
<h1>Event Name: <%= @event.name %></h1>

<%= link_to "Delete Event", @event, method: "delete", data: { confirm: "Are you sure?" } %> | 
<%= link_to "Edit Event", edit_event_path(@event) %>

<h2>Creator: <%= @event.creator.name %></h2>

<h3>Desciption</h3>
<p><%= @event.description %></p>

<h3>Location</h3>
<p><%= @event.location %></p>

<h3>Date</h3>
<p><%= @event.date.strftime('%A %b %d') unless @event.date.nil? %></p>

<h3>Guests</h3>
<% if @event.guests.any? %>
  <ul>
    <% @event.guests.each do |guest| %>
    <li><%= guest.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No guests</p>
<% end %>